.flex-item{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
}

.flex-item .poster{
    width: 242px !important;
    height: inherit;
    flex-shrink: 0;
    background-color: yellow;
}

.flex-item .content{
    min-height: 200px;
    box-sizing: border-box;
    padding: 0 40px;
    flex: 1;
}

.flex-item .content .title{
    color: black;
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 1.4;
    font-weight: bold;
}

.flex-item .content .info{
    color: black;
    line-height: 1.8;
    font-size: 14px;
}