
.my-logo {
    height: 40px;
    margin-top: 8px;
}

.logo {
    width: 100%;
    position: relative;
}

.title {
    display: inline-block;
    font-size: 18px;
    width: 265px;
    margin-left: 20px;
    position: absolute;
}

.double-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.double-item-row {
    width: 50%;
    padding: 15px;
}

.vertical-equal p {
    padding-left: 20px;
    display: block;
    margin-top: 50px;
}
/* 调整页面变化时 双栏型布局的字体跟着变化 */
@media (max-width: 1279px) {
    .vertical-equal p {
        margin-top: 10px;
    }
}

@media (max-width: 960px) {
    .vertical-equal p {
        margin-top: 10px;
        padding-left: 0;
        font-size: 14px;
    }
}

.cooperation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.cooperation li {
    width: 40% !important;
    height: 80px;
    flex-shrink: 0;
    margin-right: 10%;
    margin-bottom: 20px;
}

.cooperation li:last-of-type {
    margin-right: 10%;
    margin-bottom: 0;
}

.cop-poster {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cooperation2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

.cooperation2 li {
    width: 20% !important;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.li-line1{
    margin-right: 40px;
}

.with-indent p{
    text-indent: 38px;
}

.my-list{
    width: 70%;
    margin: 0 auto;
    padding: 0;
    list-style-type: decimal;

}

.my-list-title{
    margin:40px 0;
    font-weight:500;
    text-align:center;
}


.news-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    margin: 0 auto 50px;
}

.carousel{
    width: 50%;
}
.news-content{
    margin-left: 5%;
    width: 45%;
}

.news-content .header{
    font-size: 30px;
}

.news-content .header .more{
    float: right;
    margin-top: 4px;
    cursor: pointer;
    font-size: 22px;
}


.news-list{
    list-style-type: none;
    padding: 0;
}

.news-item{
    margin-top: 10px;
    height: 75px;
    padding: 0 0 0 5px;

}

.news-item :hover{
    background-color: #F5F5F5;
}

.news-time{
    line-height: 75px;
    float: right;
}

.news-item .info .news-title{
    font-size: 20px;
    line-height: 75px;
}

.carousel .el-carousel{
    height: 300px;
}

.carousel .el-carousel .el-carousel__container{
    height: 100%;
}

.carousel .el-carousel .el-carousel__container .click_box{
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
}
