.my-img-title {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.my-img-box {
    margin: 25px 0 15px 0;
}

.my-img {
    width: 100%;
}

.my-img-scale60{
    display: block;
    margin: 0 auto;
    width: 40%;
}